@import "./../../../../style/config";
@import "./../../../../style/mixins";

h2{
  @include headline-highligth;
}
h4{
  font-size: 1.4rem;
  color: $color-secondary;
  font-family: $default-font-family;
  font-weight: 400;
}
h3{
  font-size: 2.5rem;
  margin: 0;
}

p{
  margin-top: 30px;
  text-align: justify;
  font-size: 0.7rem;
  margin-bottom: 30px;
}
.reason-section{
  @include component_section--gray;

  .reason-section__box{
    @include component_section__box;
    @media screen and (max-width: 768px){
      width: 70%;
    }
  }
}
.reason-section__box__row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}
.row-title{
  background-color: $color-primary;
  border-radius: 2px;
  margin: 0 auto;
  padding: 10px 15px;
  font-family: $default-font-family;
  color: #ffffff;
  font-size: 2.6rem;
  position: relative;
  ::after{
    content: '';
    position: absolute;
    right: 50%;
    bottom: -30px;
    border: 15px solid $color-primary;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-right: -15px;
  }
}
.box-row {
  width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  //justify-content: center;
  @media screen and (max-width: 768px){
    margin: 0;
  }

}
