<div class="reason-section">
  <div class="reason-section__box">
    <h4>{{htmlData.h2}}</h4>
    <h2>{{htmlData.h1}}</h2>
    <div class="reason-section__box__row">
      <div *ngFor='let subs of htmlData.text' class="box-row">
        <div class="row-title">
        <h3>{{subs.title}}</h3>
        </div>
        <p>{{subs.text}}</p>
      </div>
    </div>
  </div>
</div>
