@import "./../../../../style/config";
@import "./../../../../style/mixins";

:host ::ng-deep .emphasize {
  color: $color-primary;
}
:host ::ng-deep .capitalize {
  text-transform: capitalize;
}
//.objective_section {
//  @include component_section;

  .objective_section__box {
    @include component_section__box;

    .h1{
      @include headline-in_frame;

    }

    .objective_section__text {
      width: 100%;
      color: $color-secondary;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
//}
