
<!--<div class="objective_section">-->
  <div class="objective_section__box">
    <h1 class="h1">{{htmlData.h1}}</h1>
    <div class="objective_section__text">
      <p [innerHTML] = "htmlData.text | html"></p>
    </div>
  </div>
<!--</div>-->
