<section class="contact-section">
<div class="contact-section__box">
<h2 class="contact-section__email">{{htmlData.email}}</h2>
<h1 class="contact-section__phone">{{htmlData.phoneNumber}}</h1>
<h2 [innerHTML] = "htmlData.personal | html" class="contact-section__personal">{{htmlData.personal}}</h2>
</div>
</section>
