@import "./../../../../style/config";
@import "./../../../../style/mixins";

:host ::ng-deep .span {
  text-transform: none;
}

h2{
  color: #ffffff;
  font-family: sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 400;
}
h1{
  font-size: 4rem;
  font-family: $default-font-family, sans-serif;
  background-color: $background-second;
  font-weight: 400;
  margin: 0;
  padding: 10px 10px;
}

.contact-section{
  @include component_section;
  background-image: url("./../../../../assets/contact-bg.jpg");
  background-size: 100% 100%;
  height: 400px;
  justify-content: center;

  .contact-section__box{
    @include component_section__box;
    min-height: 120px;
    margin: 0 auto;
    justify-content: center;

    .contact-section__email{
      width: 100%;
      font-size: 2.5rem;
      text-transform: none;
      @media (max-width: 989px) {
        font-size: 2.3rem;
      }
      @media (max-width: 768px) {
        font-size: 2rem;
      }
      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
    .contact-section__phone{
      width: 100%;
      @media (max-width: 989px) {
        font-size: 3rem;
      }
    }
    .contact-section__personal{
      width: 100%;
      font-size: 2rem;
      padding-top: 10px;
    }
    @media (max-width: 989px) {
      font-size: 2.3rem;
    }
    @media (max-width: 768px) {
      font-size: 2rem;
    }
    @media (max-width: 576px) {
      font-size: 1.8rem;
    }
  }
}


