<app-header></app-header>
<app-objective></app-objective>
<!--<app-numbers></app-numbers>-->
<app-about-me></app-about-me>
<app-offer></app-offer>
<app-stage></app-stage>
<!--<app-documentation></app-documentation>-->
<!--<app-reason></app-reason>-->
<!--<app-do-you-know></app-do-you-know>-->
<app-references></app-references>
<!--<app-slider></app-slider>-->
<app-contact-details></app-contact-details>

