<p>
  slider works!
</p>


<div class="slider">
  <div class="sliderArrows">
    <a (click)="backWard()">&lt;<!--Use icons of your choice, although these simple Lower than and greater signs also looks well--></a>
    <a (click)="forWard()">&gt;</a>
  </div>
  <ul class="slideShow">
    <!--<li *ngFor="let li of slides" [ngClass]="li?.classes">-->
      <!--<printSlide [meta]="li"></printSlide>-->
    <!--</li>-->
  </ul>
</div>
