<div class="dyk-section">
<div class="dyk-section__box">
<h3 [innerHTML] = 'htmlData.text1 | html'></h3>
<h3 [innerHTML] = 'htmlData.text2 | html'></h3>
<button (click)='buttonClick()' class="btn"> {{htmlData.button}}</button>
</div>
</div>
