@import "./../../../../style/config";
@import "./../../../../style/mixins";

:host ::ng-deep .emphasize {
  color: $color-primary;
}

h3{
  font-family: $default-font-family;
  font-size: 1.6rem;
  color: $color-secondary;
  font-weight: 400;
}

.dyk-section {
  @include component_section;

  .dyk-section__box {
    @include component_section__box;
  }
}
.btn {
  background-color: $color-primary;
  color: #ffffff;
  box-shadow: 0.3px 0.3px 20px rgba(0, 0, 0, 0.2);
}
