@import "./../../../../style/config";
@import "./../../../../style/mixins";
//@import "./../../../../styles";

.stage-section{
  @include component_section--gray;
}
.stage-section__box{
  @include component_section__box;

}

.stage-section__box__row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}

.row__column{
  min-width: 230px;
  background-color: #ffffff;
  margin: 0 10px;
  border-radius: 2px;
  padding: 20px 5px;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0px 1px 12px  $color-secondary;
    background-color: $color-primary;
    color: #ffffff;
    .icon-column{
      transition-delay: 0.1s;
      color: $color-primary;
      background-color: #ffffff;
      border-color: $color-primary;
      box-shadow: 0px 0px 0px 3px #ffffff;
    }
    .stage_dashed {
      border-bottom: 1px dashed #ffffff;
    }
  }
  @media screen and (max-width: 768px){
    margin: 15px auto;
  }
}

.icon-column{
  width: 100px;
  height: 100px;
  background-color: $color-primary;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 0px 3px $color-primary;
  margin: 10px auto;
  color: #ffffff;
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
  :last-child & ::before{
     content: '\f01a';
   }
  .fa {
    :first-child & ::before {
      content: '\f002';
    }
  }
  //\f013
}

.stage_dashed{
  border-bottom: 1px dashed #e0e0e0;
  margin-bottom: 7px;
  padding-bottom: 7px;
}

p{
  padding: 0;
  font-family: sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
  width: 90%;
}
h4{
  //text-transform: uppercase;
  font-family: $default-font-family;
}
h5{
  //text-transform: uppercase;
  font-family: $default-font-family;
  font-size: 1.2em;
}
h6{
  font-family: sans-serif;
  font-size: 0.6rem;
  margin-bottom: 25px;
}

