<div class="stage-section">
  <div class="stage-section__box">
    <div class="stage-section__box__row">
      <div *ngFor="let stages of htmlData" class="row__column">
        <h4>{{stages.h1}}</h4>
        <div class="icon-column">{{stages.image}}<i class="fa"></i></div>
        <h6>{{stages.subtext}}</h6>
        <h5>{{stages.h2}}</h5>
        <p class="stage_dashed">{{stages.p1}}</p>
        <p class="stage_dashed">{{stages.p2}}</p>
        <p>{{stages.p3}}</p>
      </div>
    </div>
  </div>
</div>


