$mobile-width: 640px;
$tablet-width: 960px;
$maxpage-width: 1000px;

$default-background-color: whitesmoke;
$background-second: rgba(255, 255, 255, 0.50);
$default-font-family: Bebasneue;

$color-primary: #ffd80d;
$color-secondary: #616a6b;

body{
  font-size: 16px;
  text-transform: lowercase;
}
