@font-face {
  font-family: 'Oswald';
  src: url('./fonts/oswald-regular-webfont.woff2') format('woff2'),
  url('./fonts/oswald-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('./fonts/bebasneue_regular-webfont.woff2') format('woff2'),
  url('./fonts/bebasneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
