@mixin component_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin component_section--gray {
  @include component_section;
  background-color: $default-background-color;
  padding: 3rem 0;
  margin: 2rem 0;
}

@mixin component_section__box{
  width: 100%;
  margin: auto;
  max-width: $maxpage-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;

}

@mixin headline-in_frame{
  font-family: $default-font-family;
  font-size: 3.5rem;
  background-color: $color-primary;
  border: 3px solid #ffffff;
  color: #ffffff;
  box-shadow: 0px 0px 0px 3px $color-primary;
  padding: 0 0.625rem;
  margin: 0.625rem 0 1.3rem 0;
  line-height: 1;
  @media screen and (max-width: $mobile-width){
    font-size: 2.5rem;
  }
}
@mixin headline-highligth{
  font-family: $default-font-family;
  font-size: 2.2rem;
  color: $color-primary;
  margin-bottom: 1.875rem;
  line-height: 1;
}
