
<section class="about-section">
<div class="about-section__box">
<h3>{{htmlData.title}}</h3>
<article [innerHTML] = "htmlData.text | html" class="about-section__box__article">{{htmlData.text}}</article>
</div>
</section>
