
@import "./../../../../style/config";
@import "./../../../../style/mixins";

:host ::ng-deep .center {
  text-align: center !important;
}

h3{
  font-family: sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0 0 1.25rem 0;
  padding-right: 3.125rem;
}

.about-section {
  @include component_section;
  background-image: url("./../../../../assets/parallax2.jpg");
  background-size: cover;
  height: 580px;
  justify-content: center;
  color: #ffffff;
  .about-section__box{
    @include component_section__box;
    text-align: center;
    @media screen and (max-width: $mobile-width) {
      text-align: justify;
    }
    .about-section__box__article{
      text-align: left;
      padding-right: 16rem;
      @media screen and (max-width: $tablet-width) {
        width: 100%;
        padding-right: 6rem;
      }
      @media screen and (max-width: $mobile-width) {
        width: 100%;
        padding: 0;
      }
    }
  }
}
