<div class="offer-section">
  <div class="offer-section__box">
    <h1>{{htmlData.h1}}</h1>
    <h2>{{htmlData.h2}}</h2>
    <div class="offer-section__text">
    <p [innerHTML]="htmlData.text | html "></p>
    </div>
  </div>
</div>
