@import "./../../../../style/config";
@import "./../../../../style/mixins";

:host ::ng-deep .emphasize {
  color: $color-primary;
}
:host ::ng-deep .capitalize {
  text-transform: capitalize;
}
h1{
  @include headline-in_frame;
}

h2{
  @include headline-highligth;
}

.offer-section {
  @include component_section;

  .offer-section__box {
    @include component_section__box;

    .offer-section__text {
      width: 100%;
      color: $color-secondary;
      font-weight: 700;
      text-transform: lowercase;
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
}




