<div class="box-parallax">
  <div class="box-nav">
    <a class="box-nav-menu" href="{{menuitem.route}}" *ngFor="let menuitem of menuItems">{{menuitem.name}}</a>
  </div>

  <div class="box-logo">
      <img src="assets/header/logo-main.png" alt="">
  </div>

  <div class="box-image">
    <img src="assets/header/image.png" alt="">
  </div>

  <div class="box-header-slider">
    <div class="box-header-slider-item" *ngFor="let slide of sliderItems">{{slide}}</div>
  </div>
</div>
