@import './../../../../style/config';

.box-parallax {
  background: grey;
  width: 100%;
  height: 100vh;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  .parallax-background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .box-nav {
    margin: 32px 0 35px 20px;
    display: flex;
    .box-nav-menu {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 1.25rem;
      font-family: $default-font-family;
      text-transform: uppercase;
      color: $default-background-color;
      text-decoration: none;
      &:after {
        content: '';
        position: absolute;
        left: 12.5rem;
        background: $default-background-color;
        height: 1.5rem;
        width: 4px;
      }
    }
    :last-child {
      &:after {
        content: '';
        display: none;
      }
    }
  }

  .box-logo {
    background: $color-primary;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color-primary;
      top: -20px;
    }
  }
  .box-image {
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    overflow: hidden;
    .box-image-item {
      background: none;
      margin: auto;
      width: 100%;
    }
  }

  .box-header-slider {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    .box-header-slider-item {
      height: 50px;
      color: $color-primary;
      font-size: 50px;
      text-transform: uppercase;
      padding: 5px, 0, 5px, 0;
      position: absolute;
      transition: top linear 1s;
    }
  }

}
