@import "./../../../../style/config";
@import "./../../../../style/mixins";

h1{
  @include headline-in_frame;
  margin: 40px 0;
}

.references-text{
  font-family: "Helvetica Neue";
  //color: #ffffff;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding: 20px;
  line-height: 1.3;
}

.references-person{
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 600;
  ::before ::after{
    content: '--';
  }
}

.references-section{
  @include component_section;
}

.references-section__box{
  @include component_section__box;
}
.referenceBox{
  display: flex;
  flex-direction: column;
  align-items: center;

  .references{
    //max-width: 60%;
    //height: 200px;
  }

  .arrowBox {
    display: flex;
    flex-direction: row;
    .arrow {
      background-color: $color-primary;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #ffffff;
      margin: 0 5px 10px 0;
      position: relative;
    }
  }
  img{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 17%;
    left: 16%;
  }
  .nav{
    display: flex;
    flex-direction: row;
  }
}
