<div class="references-section">
  <div class="references-section__box">
    <h1>referencje</h1>
    <div class='referenceBox'>
      <div class='references' *ngFor='let temp of htmlData; let slideIndex = index;'
           [hidden]="!isCurrentSlideIndex(slideIndex)" [@heroState]="htmlData[slideIndex].state"
           (click)="temp.state = this.toggleState(temp.state) ">
        <p class="references-text">{{temp.text}}</p>
        <p class="references-person">{{temp.person}}</p>
      </div>

      <div class='arrowBox'>
        <button class="arrow" href="#" (click)="nextSlide()"><img src="./../../../../assets/icons/arrow_left.png"></button>
        <button class="arrow" href="#" (click)="prevSlide()"><img src="./../../../../assets/icons/arrow_right.png"></button>
      </div>
    </div>
  </div>
</div>
<!--<nav class="nav">-->
<!--<div class="wrapper">-->
<!--<ul class="dots">-->
<!--<li class="dot" *ngFor='let temp of htmlData; let slideIndex = index'>-->
<!--<a href="#" ngClass="{'active':isCurrentSlideIndex(slideIndex)}"-->
<!--(click)="setCurrentSlideIndex(slideIndex);">wot</a></li>-->
<!--</ul></div>-->
<!--</nav>-->



