@import "./../../../../style/config";
@import "./../../../../style/mixins";

:host ::ng-deep .emphasize {
  color: $color-primary;
}

h1{
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: $color-secondary;
  margin-bottom: 1.2rem;
  @media screen and (max-width: 575px){
    font-size: 1rem;
  }
}


p{
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: grey;
  margin: 0;
  @media screen and (max-width: 575px){
    font-size: 0.7rem;
  }
}

.documentation-section{
   @include component_section;

   .documentation-section__box{
    @include component_section__box;
   }
 }
