<div class="documentation-section">
  <div class="documentation-section__box">
    <h1 [innerHTML]="htmlData.h1 | html">{{htmlData.h1}}</h1>
    <div *ngFor="let sub of htmlData.text">
      <p>{{sub}}</p>
    </div>
  </div>
</div>
